/*******************************/
/* HEADER */
/*******************************/


.header {
  font-family: "Bricolage-Grotesque", "DM-Sans", sans-serif;

  padding: 3.2rem 0;
  margin-bottom: 3.2rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}

.units-btn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.units-btn img:first-child {
  height: 1.6rem;
}


/*******************************/
/* SEARCH SECTION */
/*******************************/

.search-section {
  margin-bottom: 3.2rem;
}

.search-container {
  display: grid;
  grid-template-columns: 85fr 15fr;
  gap: 2.4rem;

  margin: 0 auto;

  max-width: 60rem;

  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);

  background-image: url('../images/icon-search.svg');
}

.search-textbox {
  font-size: 2rem;

  color: #fff;

  border-radius: 9px;
  border: none;

  background-color: hsl(243, 27%, 20%); 

  padding-left: 6.4rem;
}

.search-textbox::placeholder {
  color: #d5d4d9;
}

.search-btn {
  padding: 1.6rem 3.2rem;
  background-color: #4455da;
}


/*******************************/
/* WEATHER SECTION */
/*******************************/


.weather-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3.2rem;

  margin-bottom: 6.4rem;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 30rem;

  border-radius: 20px;

  background-image: url('../images/bg-today-large.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin-bottom: 3.2rem;
  padding: 0 2.4rem;
}


.location {
  font-size: 3rem;
  font-weight: 600;

  margin-bottom: 1.6rem;
}

.date-time {
  color: #d5d4d9;
  font-size: 2rem;
}

.icon-temperature-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.current-weather-icon {
  height: 10rem;
}

.temperature-degree {
  font-style: italic;
  font-size: 7.4rem;
  font-weight: 600;
}

.weather-metrics {
  display: flex;
  justify-content: space-between;

  margin-bottom: 6.4rem;
}

.weather-metrics .card {
  padding: 1.6rem;
  width: 20rem;

}

.metric-title {
  font-size: 2rem;
  color: #d5d4d9;

  margin-bottom: 2.4rem;
}

.metric-value {
  font-size: 3.6rem;
  font-weight: 400;
}

.daily-forcast-day-cards {
  display: flex;
  justify-content: space-between;
}

.daily-forcast-card {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 11rem;
}

.daily-forcast-icon {
  height: 7rem;
}

.temperature {
  display: flex;
  gap: 3.2rem;
}

.hourly-forcast {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  background-color: hsl(243, 27%, 20%);
  border-radius: 20px;

  padding: 2.4rem;


}

.hourly-forcast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hourly-forcast-header h3 {
  font-size: 2.4rem;
}

.days-btn {
  display: grid;
  grid-template-columns: 3fr 1fr;
  place-items: center;

  background-color: hsl(243, 23%, 24%);
  
  padding: 0.8rem 1.6rem;
  
  font-size: 2rem;
}

.hourly-forcast-cards-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  padding: 0 0.8rem;

  height: 62.5rem;

  overflow-y: auto;
}

.hourly-forcast-cards-box::-webkit-scrollbar {
  display: none;
}

.hourly-forcast-card {
  display: grid;
  grid-template-columns: 1.2fr 1.5fr 5fr;
  align-items: center;

  background-color: hsl(243, 23%, 24%);
}

.hourly-forcast-card .hour {
  font-size: 2.4rem;
}

.hourly-forcast-card .degree {
  justify-self: right;

  font-size: 2rem;
}

.hourly-forcast-icon {
  height: 5rem;
}