/*******************************/
/* HEADER */
/*******************************/

.header {
  font-family: "Bricolage-Grotesque", "DM-Sans", sans-serif;

  padding: 3.2rem 0;
  margin-bottom: 3.2rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.2rem;

  position: relative;
}

.units-btn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.units-btn img:first-child {
  height: 1.6rem;
}

.units-dropdown {
  width: 20rem;

  padding: 0.8rem;

  background-color: hsl(243, 27%, 20%);

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 9px;

  box-shadow: 0 2.4rem 4.8rem 0 rgb(0, 0, 0, 0.1);

  z-index: 50;

  transition: all 0.3s;

  position: absolute;
  right: 0;
  top: 120%;
}

.dropdown-btn {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1.6rem;
  width: 100%;
  text-align: left;
}

.dropdown-section {
  padding-top: 1.2rem;
}

.dropdown-section-title {
  margin: 0 1.2rem;
  margin-bottom: 0.8rem;
  padding-left: 0.4rem;
  font-size: 1.4rem;
  color: #d5d4d9;
}

.dropdown-section + .dropdown-section {
  border-top: 2px solid hsl(243, 23%, 24%);
}

.units-dropdown button:not(#switch-units):not(.selected-metric):hover {
  background: none;
}

.dropdown-section button:hover {
    cursor: default;
}

.selected-metric {
  background-color: hsl(243, 23%, 30%);
}

.checkmark-icon {
  visibility: hidden;
}

.selected-metric .checkmark-icon {
  visibility: visible;
}

/*******************************/
/* SEARCH SECTION */
/*******************************/

.search-section {
  margin-bottom: 3.2rem;
  position: relative;
}

.search-container {
  display: grid;
  grid-template-columns: 85fr 15fr;
  gap: 2.4rem;

  margin: 0 auto;

  max-width: 60rem;

  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);

  background-image: url("../images/icon-search.svg");
}

.search-textbox {
  font-size: 2rem;

  color: #fff;

  border-radius: 9px;
  border: none;

  background-color: hsl(243, 27%, 20%);

  padding-left: 6.4rem;
}

.search-textbox::placeholder {
  color: #d5d4d9;
}

.search-btn {
  padding: 1.6rem 3.2rem;
  background-color: #4455da;
}

.search-results {
  display: block;
  background-color: hsl(243, 27%, 20%);

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 9px;

  width: 46.13rem;

  padding: 0.8rem;

  z-index: 50;

  position: absolute;
  top: 115%;
  left: 50%;
  transform: translateX(-65%);
}

.search-result {
  padding: 0.8rem 1.6rem;
  width: 100%;
  text-align: left;

  border-radius: 9px;
  cursor: pointer;
}

.search-result:hover {
  background-color: hsl(243, 23%, 30%);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}

.search-result + .search-result {
  margin-top: 0.4rem;
}

.hidden-no-search-results {
  color: #fff;
  
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  
  margin: 0rem auto;
  
  content: "";

  visibility: hidden;
  opacity: 0;
  transform: translate(-4%, -5%);

  transition: all 0.3s ease;
}

.show-no-search-results {
  visibility: visible;
  opacity: 1;
  transform: translate(-4%, 0);

  margin: 4.8rem;
}

/*******************************/
/* WEATHER SECTION */
/*******************************/

.weather-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3.2rem;

  margin-bottom: 6.4rem;
}

.current-weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  height: 30rem;

  border-radius: 20px;

  background-color: hsl(243, 27%, 20%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  margin-bottom: 3.2rem;
  padding: 0 2.4rem;

  position: relative;
}

.current-weather.show-background-image {
  background-image: url("../images/bg-today-large.svg");
}

.location {
  font-size: 3rem;
  font-weight: 600;

  margin-bottom: 1.6rem;
}

.date {
  color: #d5d4d9;
  font-size: 2rem;
}

.icon-temperature-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  justify-self: right;
  gap: 2.4rem;
}

.current-weather-icon {
  height: 10rem;
}

.temperature-degree {
  font-style: italic;
  font-size: 7.4rem;
  font-weight: 600;
}

.weather-metrics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;

  margin-bottom: 6.4rem;
}

.weather-metrics .card {
  padding: 1.6rem;
  width: 100%;
}

.metric-title {
  font-size: 2rem;
  color: #d5d4d9;

  margin-bottom: 2.4rem;
}

.metric-value,
.metric-unit {
  font-size: 3.6rem;
  font-weight: 400;
}

.current-weather .dots-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*******************************/
/* DAILY FORCAST, WEATHER SECTION */
/*******************************/

.daily-forcast-day-cards {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1.2rem;
}

.daily-forcast-card {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.daily-forcast-icon {
  height: 7rem;
}

.temperature {
  display: flex;
  gap: 3.2rem;
}

/*******************************/
/* HOURLY FORCAST, WEATHER SECTION */
/*******************************/

.hourly-forcast {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  background-color: hsl(243, 27%, 20%);
  border-radius: 20px;

  padding: 2.4rem;
}

.hourly-forcast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 0.8rem;

  position: relative;
}

.hourly-forcast-header h3 {
  font-size: 2.4rem;
}

.days-btn {
  display: grid;
  grid-template-columns: 3fr 1fr;
  place-items: center;

  background-color: hsl(243, 23%, 24%);

  padding: 0.8rem 1.6rem;

  font-size: 2rem;
}

.days-btn .short {
  display: none;
}

.choose-day-dropdown {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: hsl(243, 27%, 20%);

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 9px;

  box-shadow: 0 2.4rem 4.8rem 0 rgb(0, 0, 0, 0.1);

  width: 50%;

  padding: 0.8rem;

  position: absolute;
  top: 120%;
  left: 50%;
  /* transform: translateX(-4%); */
}

.choose-day-btn {
  padding: 0.8rem 1.6rem;
  width: 100%;

  text-align: left;
  font-size: 1.8rem;
  color: #fff;

  background-color: inherit;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}

.choose-day-btn:hover {
  background-color: hsl(243, 23%, 30%);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}

.hourly-forcast-cards-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  padding: 0 0.8rem;

  height: 62.5rem;

  overflow-y: auto;
}

.hourly-forcast-cards-box::-webkit-scrollbar {
  display: none;
}

.hourly-forcast-card {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  align-items: center;

  background-color: hsl(243, 23%, 24%);
}

.hourly-forcast-card .hour {
  font-size: 2rem;
}

.hourly-forcast-card .degree {
  justify-self: right;

  font-size: 2rem;
}

.hourly-forcast-icon {
  height: 5rem;
}



/*******************************/
/* API ERRORS */
/*******************************/

.api-error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  width: 35vw;
  margin: 0 auto;
  text-align: center;
}

.api-error-icon {
  height: 4.8rem;
  width: 4.8rem;
}

.api-error-title {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.api-error-message {
  color: #ffffff83;
  font-size: 2rem;
}

.retry-btn {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  
  padding: 1.2rem;
}